body {
    background-color: rgb(230, 245, 240);
}

 #div1 {
     height: 18%;
     margin: -20px auto;
     margin-left: -0.62%;
     margin-right: -0.62%;
     background-color: rgb(103, 200, 212);
 }