@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  margin-top: 1px;
}
section {
  position: relative;
  display: flex;
  justify-content: left;
  align-items: center;
  min-height: 40vh;
  overflow: hidden;
  
}
.box {
  margin-left: 40px;
  margin-top: -60px;
  position: relative;
  z-index: 1000;
  background-color: rgb(152, 206, 206);
  border-radius: 10px;
  
}
.container {
  height: 250px;
  width: 250px;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(122, 114, 114, 0.2);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(100px);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn{
    font-size: 25px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    border: none;
    padding: 13px 65px;
    cursor: pointer;
    margin-top: 30px;
    margin-left: 50px;
    box-shadow: 1.5px 1.5px rgb(184, 180, 180);
    
}
.btn-color{
    background-color: rgb(104, 216, 216);
    color: black;
    border-radius: 15px;
}
.btn-color:hover{
    background-color: rgb(32, 110, 110);
    color: white;
}
.btn-color:active{
    position: relative;
    top: 5px;
    box-shadow: none;
}
.sidebar{
  background-color: lightgray;
  margin-top: 20px;
  height: 790px;
  width: 350px;
  margin-left: -8px;
}
body{

    
  font-family: Arial;
  background: "";

}

ul{
  
  padding: 10px;
  list-style: none;
  
}

a{
  
  font-size: 20px;
  margin-left: 100PX;
  text-decoration: none;
  color: white;
  display: block;
  image-orientation: 10px;

}

a:hover{
  background-color: rgba(255, 255, 255, .3);

}

.li_p{
  line-height: 50px;


}

.ul_principal{
  line-height: 30px;

}

ul li ul li{
  line-height: 30px;

}



