*{
    
    padding: 5px;
    margin: 0px;
}

body{

    
    font-family: Arial;
    background: "";

}

ul{
    
    padding: 10px;
    list-style: none;
    
}

a{
    text-decoration: none;
    color: white;
    display: block;
    image-orientation: 10px;

}

a:hover{
    background-color: rgba(255, 255, 255, .3);

}

nav{


}

.li_p{
    line-height: 10px;


}

ul#ul_principal{
    font-size: 50px;

}

ul li ul li{
    line-height: 30px;

}

.ul_eventos, .ul_metas{

}
