{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>
    <!-- <link rel="stylesheet" href="{% static 'css/list_product_types.css' %}"> -->
</head>

<body>
    <h1>TO DO LIST</h1>
    <!-- action = "/todolist/adicionaTarefa/" -->
    <form method = "post">
        {% csrf_token %}
        {{ form.as_p }}
        <!-- <input type="text" name="content" required> -->
        <input style="display: inline;" type="submit" value="Adicionar Tarefa">
    </form>

    {% for meta in metas %}

        <!-- <p> {{ meta.nome }} </p> -->

    {% endfor %}

    {% for item in all_items %}

        <p> {{ item.tarefa }} </p>

        <form style="width:20%;margin:auto 0 auto 0; display: inline;" action="/todolist/editaTarefa/{{item.pk}}/" method = "post">
            {% csrf_token %}
            <input type="text" name="conteudo" value="{{item.tarefa}}" required>
            <input type="submit" value="Editar">
        </form>

        <form style="width:20%; display: inline;" action="/todolist/deletaTarefa/{{item.pk}}/" method = "post">
            {% csrf_token %}
            <input type="submit" value="Excluir">
        </form>

    {% endfor %}

    {% for item in all_items %}
        
        <!-- {% for meta in metas %} -->

            <!-- {% if item.meta == meta.nome %} -->

                <!-- >>  {{ item.tarefa|default:"TarefaVazia" }}  -->
        <p>>> {{ item.tarefa }} </p> 
        
        <!-- <form method = "post">  -->
        <form style="width:20%;margin:auto 0 auto 0; display: inline;" action="/todolist/editaTarefa/{{item.pk}}/" method = "post">
            {% csrf_token %}
            <input type="text" name="content" value="{{item.tarefa}}" required>
            <input type="submit" value="Editar">
        </form>
        
        <form style="width:20%; display: inline;" action="/todolist/deletaTarefa/{{item.id}}/" method = "post">
            {% csrf_token %}
            <input type="submit" value="Excluir">
        </form>

            
            <!-- {% endif %} -->
            
        <!-- {% endfor %} -->

    {% endfor %}

</body>

{% endblock %}
