{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'css/todolist.css' %}">
</head>

<div class="todo-list-container">
    <body>
        <h1>TO DO LIST</h1>
        <form class="todo-list-form" method = "post">
            {% csrf_token %}
            {{ form.as_p }}
            <input style="display: inline;" type="submit" value="Adicionar Tarefa">
        </form>

        {% for item in all_items %}

            <p > {{ item.tarefa }} </p>
            <!-- style="width:20%;margin:auto 0 auto 0; display: inline;" -->
            <form class="todo-list-form" action="/todolist/editaTarefa/{{item.pk}}/" method = "post">
                {% csrf_token %}
                <input type="text" name="conteudo" value="{{item.tarefa}}" required>
                <input class="botao-editar" type="submit" value="Editar">
            </form>
            <!-- style="width:20%; display: inline;" -->
            <form class="todo-list-form" action="/todolist/deletaTarefa/{{item.pk}}/" method = "post">
                {% csrf_token %}
                <input class="todo-list-deletar-form" type="submit" value="Excluir">
            </form>

        {% endfor %}

    </body>
</div>

{% endblock %}
