{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>
    <!-- <link rel="stylesheet" href="{% static 'css/list_product_types.css' %}"> -->
</head>

<body>
    <h1>TO DO LIST</h1>
    
    <form action = "/todolist/adicionaTarefa/" method = "post">
        {% csrf_token %}
        <input type="text" name="content" required>
        <input type="submit" value="Adicionar Tarefa">
    </form>

    {% for item in all_items %}
        <p>
            <span>
                <span>
                    <!-- >>  {{ item.tarefa|default:"TarefaVazia" }}  -->
                </span>
                    <!-- <form method = "post"> -->
                    <form style="width:20%;margin:auto 0 auto 0; display: inline;"action="/todolist/editaTarefa/{{item.pk}}/" method = "post">
                        {% csrf_token %}
                        <input type="text" name="tarefa" value="{{item.tarefa}}" required>
                        <input type="submit" value="Editar">
                    </form>
                <span>
                    <form style="width:20%; display: inline;" action="/todolist/deletaTarefa/{{item.id}}/" method = "post">
                        {% csrf_token %}
                        <input type="submit" value="Excluir">
                </form>
                </span>
            </span>  
        </p>
    {% endfor %}

</body>

{% endblock %}
