<!DOCTYPE html>
{% load static %} 
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>FGAgenda</title>
        <link rel="shortcut icon" href="{% static 'icones/favicon1.png'  %}" type="image/x-icon">
        <!-- <link rel="stylesheet" href="base.css"> -->
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <script src="{% static 'dycalendar.js' %}"></script>   
        
    </head>

    <body>
        
        <div id="div1">
            <p style="text-align:center"><img src="{% static 'icones/fgagenda250.png'  %}" alt="logo fgagenda"></p> 
            <!-- src="{% static 'icones/favicon.ico'  %}" -->
       </div>

    <div>
        <button class="btn btn-color">+ Criar</button>
    </div>
    
    <section>
        <div class="box">
          <div class="container">
            <div id="dycalendar"></div>
          </div>
        </div>
      </section>
      
    
      <!--JS do calendário-->
      <script src="{% static 'dycalendar.js' %}"></script>
      <script>
        dycalendar.draw({
          target: "#dycalendar",
          type: "month",
          dayformat: "full",
          monthformat: "full",
          highlighttargetdate: true,
          prevnextbutton: "show",
        });
      </script>
   
    </body>
</html>