{% extends 'base.html' %}
{% load static %}
{% block content %}

<head>
    <link rel="stylesheet" href="{% static 'css/pagina-principal.css' %}">
</head>

<div>
    <button class="btn btn-color">+ Criar</button>
</div>

<section>
    <div class="box">
      <div class="container">
        <div id="dycalendar"></div>
      </div>
    </div>
  </section>
  

  <!--JS do calendário-->
  <script src="dycalendar.js"></script>
  <script>
    dycalendar.draw({
      target: "#dycalendar",
      type: "month",
      dayformat: "full",
      monthformat: "full",
      highlighttargetdate: true,
      prevnextbutton: "show",
    });
  </script>
{% endblock %}
